[2016-07-06 19:41] voxpelli opened #1 "Update restricted words lists etc"
To take eg. https://github.com/aaronpk/Micropub/issues/32 into consideration

[2016-07-07 11:59] voxpelli opened #2 "Support AWS Lambda"
As suggested in https://twitter.com/mothersele/status/751012678655696896 it would be interesting to look into supporting AWS Lambda for this project.

Micropub requests fits the model of spinning up a server for each one and I between the requests have no servers running at all.

Some adjustments likely needs to take place. Both in how requests are accepted from the AWS API Gateway and how to conf

[2016-07-12 16:31] barryf opened #3 "Support custom permalinks"
Hey Pelle. Love this. I've successfully got it working using a test repo on my GitHub and Heroku accounts and can post via Micropublish and Quill. 👍

Small issue: after a successful post, the Location header followed a `/:categories/:year/:month/:title/` permalink method which doesn't match my GitHub Pages config. I was taken to the 404 page because my (default?) config uses `/:year/:month/:day/:t

[2016-07-12 16:33] barryf opened #4 ""social" category added for posts without titles"
When I post a note without a title a category of "social" is added. I think this may originate via your node-format-microformat project.

[2016-07-13 13:24] voxpelli commented on #3
I totally agree. The endpoint should absolutely support different permalink formats. I'll look into making that customizable.

[2016-07-13 13:30] voxpelli commented on #4
Yeah, this is due to `node-format-microformat` not yet being very customizable but currently mostly configured for my own dogfooding needs and I use the `social` category to differentiate between my social posts (http://voxpelli.com/social/), my shared links (http://voxpelli.com/links/) and my regular blog posts (http://voxpelli.com/). And a title less post == a tweetish note, which goes into the

[2016-07-14 01:51] miklb commented on #4
A config to be able to set the categories would be nice.

[2016-07-16 21:37] voxpelli commented on #3
This has now been implemented in the format-microformat module: https://github.com/voxpelli/node-format-microformat/blob/0.7.0/CHANGELOG.md#070-2016-07-16
Thanks to a new module I created: https://github.com/voxpelli/node-jekyll-utils

Now what remains is just hooking it into this module.

[2016-07-23 20:50] miklb commented on #4
@voxpelli have you put any more thought into this? Also wondering about being able to add an additional category or tag for photo posts so I can display or sort them separately.

[2016-07-25 09:41] voxpelli commented on #4
@miklb My current thinking is that a new callback in format-microformat would do it there and then in this project some optional JSON-object to define how things could be resolved could be added. The JSON-object or similar would just be to make it fit into a a .env variable so not really something that format-microformat would have to be concerned with.

[2016-07-30 14:50] voxpelli commented on #3
This has now been solved in `0.3.0`, in part thanks to @lildude who added the basis for it in a fork of his, which I took the liberty of building upon and merging in.

In addition to the basis I also added in auto-configuration, which means that the app itself will look at the `_config.yml` that's in the repo and figure out the permalink style from that.

So no need to configure anything, the new

[2016-07-30 14:50] #3 closed

[2016-07-30 15:03] voxpelli commented on #3
Released a bug fix as `0.3.1` as the caching of the automatic configuration wasn't working in `0.3.0`

[2016-07-30 15:56] lildude commented on #3
You weren't meant to see that until I was finished 😉 Glad to see it was useful and motivational.

[2016-07-30 16:54] miklb commented on #3
Sweet. And nice to see a familiar nick, @lildude

[2016-07-30 18:10] lildude commented on #3
😍 @miklb I was just about to tweet you about this. You intro'd me to the whole IndieWeb stuff (via Twitter) and now I'm starting to dig my oar in.

[2016-07-31 03:08] miklb opened #5 "Support for OwnYourGram"
Not sure if it would be more for the node express module, but discussing with @aaronpk today in IRC about ability to to have a syndicate-to link for OYG so you could POSSE the OYG post to other silos.

He suggested [could add logic to micropub endpoint](https://chat.indieweb.org/dev/2016-07-30/1469895536754000) and that he includes `client_id` in the login flow to help with that.

Any thoughts on

[2016-08-01 07:56] barryf commented on #3
@voxpelli Reading the `_config.yml` file for permalink style is a much better solution than my suggestion. I'll work on adding that approach to Webhook Mentions.

[2016-08-06 11:11] lewisnyman opened #6 "Improve documentation for .env settings"
Hey, thanks for making this. I'm working on setting it up now.

Maybe it's just me, but I'm a little confused on what the correct values are to enter for each setting. Maybe some comments or a link to another page would help? I'll try digging through the code and figure some of them out.

[2016-08-06 11:43] lewisnyman commented on #6
I noticed there are comments in app.json, maybe the least that can be is to point people to that file

[2016-08-06 15:32] voxpelli commented on #6
Sorry for that! Should totally add some comments in README and/or sample.env

[2016-08-06 20:39] miklb opened #7 "Support Multiple Categories"
Per conversation in IRC, add ability to have multiple, configurable categories. I would assume it could be done based on type of interaction.

[2016-08-11 04:37] miklb opened #8 "Configurable Location for Media Files"
Currently images and video are set to a `/media` directory. Would be nice to be able to define that path, especially for use with jekyll-assets gem.

[2016-08-13 18:05] voxpelli commented on #8
+1, keep pointing out places that should be made more configurable!

I hopefully get time to fix it soon. This will likely be a much simpler fix than the category one as the directory will not differ depending on the type of post (right?)

[2016-08-13 20:22] miklb commented on #8
I can't imagine a scenario where media location would change.

[2016-08-17 19:52] #4 closed

[2016-08-17 19:52] #6 closed

[2016-08-17 19:54] voxpelli commented on #6
@lewisnyman I added some documentation now. Is it enough for them or do you think I should add more?

[2016-08-17 20:00] voxpelli commented on #4
I went somewhat overkill here now created a new module for this: [fulfills](https://www.npmjs.com/package/fulfills)

So now one can specify the `MICROPUB_OPTION_DERIVE_CATEGORY` env variable to something like:

[code]

The condition is against the properties of the document that's sent in and the keys in the object are the category that will be set if a condition is true.

Only a single category i

[2016-08-26 19:54] voxpelli opened #11 "Make linking easy in notes. Autolinking?"
As pointed out by @miklb and as experienced by myself as well – there's no autolinking of links currently and that's especially a problem in plain text notes. Autolinking or allowing Kramdown links through or something similar would be desirable.

[2016-08-26 19:57] voxpelli commented on #11
Maybe make use of CASSIS' `auto_link()`? https://github.com/tantek/cassis/blob/8ca2edbd01cb8c9228741bd0064ca708ffb0398b/cassis.js#L1263 Or some similar library?

Should be added to https://github.com/voxpelli/node-format-microformat

[2016-08-26 20:00] miklb commented on #11
Would auto_link convert the URL to HTML and how would that effect POSSE to Twitter where characters count?

[2016-08-26 20:02] voxpelli commented on #11
@miklb If the format of the rest of the post is Markdown, then some kind of Markdown link would probably be preferable – maybe even the Kramdown syntax

[2016-08-26 20:03] miklb commented on #11
@voxpelli ah, if it could convert to Kramdown syntax then that seems ideal for me.

[2016-10-08 23:31] miklb commented on #8
@voxpelli anymore thoughts on this? I know you've been busy. Maybe even point me where I can hardcode it while I'm redesigning my site?

[2016-10-11 07:29] voxpelli commented on #8
@miklb This is where the directory is set: https://github.com/voxpelli/node-format-microformat/blob/master/index.js#L357 So some kind of option sent into that library would solve this.

[2016-10-22 09:09] voxpelli opened #12 "Validate with micropub.rocks"
Should run this project through https://micropub.rocks/ and generally update the implementation until all actions that are intended to currently be supported actually is passing the tests for those features.

[2017-01-03 20:01] voxpelli commented on #12
Done: https://micropub.rocks/implementation-report/server/22/7jxMqEHSowtm0DrDVTDm

Most things work. Some things break in the Jekyll templates + there's a lack of querying and updates and deletes in the current implementation here.

[2017-01-03 20:01] voxpelli opened #13 "Add support for querying for source content"
See: https://micropub.net/draft/#source-content

Needed to fully nail #12

[2017-01-03 20:01] voxpelli opened #14 "Add support for deleting posts"
See: https://micropub.net/draft/#delete

Needed to nail #12

[2017-01-03 20:02] voxpelli opened #15 "Add support for updates"
See: https://micropub.net/draft/#update

Needed to nail #12

[2017-01-28 18:43] dg01d opened #16 "Add support for Syndication Targets"
per [w3c recommendation 3.7.3](https://www.w3.org/TR/micropub/#syndication-targets-p-1):

[2017-01-28 18:45] #16 closed

[2017-01-28 18:45] dg01d commented on #16
Sorry, missed the pull request that deals with just this issue.

[2017-01-28 21:34] voxpelli commented on #12
Now passes two more tests:

* `config` query
* `syndicate-to` query

[2017-05-04 09:34] paulrobertlloyd opened #17 "Configurable location for Jekyll config file location"
This project is fascinating, and opening my eyes to the myriad possibilities of publishing directly to/from my GitHub repos, so thanks so much for putting this together!

Right now I have my repo set-up such that posts are located within `src/_posts/` and my config is located at `etc/jekyll/config.yml`. If I could point this service to the location of my config file, my thinking is the source loca

[2017-05-04 09:37] paulrobertlloyd opened #18 "Configurable post folders"
Currently this service writes files to a `_posts` folder, but I use Jekyll’s collections feature to publish different post types to different collections. Is this something that could be configured (perhaps via Jekyll’s config file)?

In the simplest case, the ability to change the default post folder location would be great, but further improvements may allow users to configure multiple folder lo

[2017-05-04 19:27] voxpelli commented on #18
This is actually very close to being possible: https://github.com/voxpelli/node-format-microformat/issues/6

I just need to tag a release there and then me or @keithjgrant if he is still up for it (or someone else) just needs to make a configuration here for the new option there (`filenameStyle`)

[2017-05-04 19:27] voxpelli commented on #18
Related is also: https://github.com/voxpelli/node-format-microformat/issues/7 That's about supporting collections better

[2017-05-04 19:38] voxpelli commented on #17
Thanks!

Making the path to the config file configurable would be fairly simple.

One would add a new optional value to the site config: https://github.com/voxpelli/webpage-micropub-to-github/blob/3340b6f5425c3f2fbc5915de86daa0dfe0d3f8f1/lib/sites.js#L10

And then have that carry through to the auto-config somewhere here: https://github.com/voxpelli/webpage-micropub-to-github/blob/3340b6f5425c3f2f

[2017-05-07 00:16] paulrobertlloyd commented on #18
Oh, this is all excellent news! Looking forward to trying this again when these changes have been merged 😀

[2017-05-14 19:00] voxpelli commented on #18
@paulrobertlloyd I pushed a new version, `0.5.0`, that add basic configurability to file paths. To solve your full needs we need https://github.com/voxpelli/node-format-microformat/issues/7 though – so I'll leave this open until that one is fixed, hopefully I can get to that soon.

Ping @keithjgrant

[2017-05-16 15:32] voxpelli commented on #18
Now also https://github.com/voxpelli/node-format-microformat/issues/7 is fixed, so one can now add dynamic permalink and file path styles in an extension of the way added in https://github.com/voxpelli/webpage-micropub-to-github/issues/4

That means that one can now also set the env variable `MICROPUB_FILENAME_STYLE` to something like:

[code]

The conditions are in a format supported by https://g

[2017-07-04 20:20] zacwest opened #19 "Heroku environmental variables require extra quotes around values"
The environmental variables `MICROPUB_PERMALINK_STYLE`, `MICROPUB_MEDIA_FILES_STYLE`, `MICROPUB_FILENAME_STYLE` require quotes around the values in the Heroku configuration, though the rest don't. This manifests as "app crashed" in the Heroku logs if you do not include them.

I'm guessing it's because the values are parsed as JSON as their first step. It may be worth documenting these keys as requ

[2017-07-05 14:25] voxpelli commented on #19
Thanks for reporting @zacwest!

If we can clarify this in the README so that others can have an easier time setting it up, then that would be great. It was a while since I added it myself, so I can't remember if I had any issue with it, but looking at the Heroku web interface for setting config variables it seems to enough to just paste the JSON in there. This is a screenshot from there of the set

[2017-07-05 17:45] zacwest commented on #19
I'm using the website to edit the environmental variables. I believe this is only required for values that are strings. If they are valid JSON, like that object in the screenshot, it's able to parse it. Here's an example of what I'm using that parses without issue:

<img width="470" alt="screen shot 2017-07-05 at 10 33 28 am" src="https://user-images.githubusercontent.com/74188/27876847-5d3e4d1e-6

[2017-07-08 19:23] paulrobertlloyd commented on #18
Hi @voxpelli. Sorry it’s taken so long to get back to you on this. I think this answers my original questions; I can configure the location in which files are written now, so that’s great. I have some other questions, but will post them in the appropriate threads.

[2017-07-08 19:23] #18 closed

[2017-07-08 19:27] paulrobertlloyd opened #20 "Option to not provide a category (and a question about the condition property)"
I’m looking at the configuration variable `MICROPUB_OPTION_DERIVE_CATEGORY`, and have two questions:

1. Is it possible with this config variable to state that I don’t want to add a category? In my particular instance, I have front matter defaults set up, which makes setting a category on individual posts unnecessary (and harder to change in the future).

2. What are the conditions I should be tes

[2017-07-08 19:39] paulrobertlloyd opened #21 "Tests failing"
I was unable to push up my changes to Heroku, as the `prepush` script calls `npm test` which for me was failing. I’m not sure why… I wonder if it’s because the test script uses dummy authentication values? i.e.:

[code]

I had to delete the `prepush` command in order to push my changes to Heroku.

This is the error I get:

[code]

[2017-07-09 16:49] voxpelli commented on #21
To ignore the tests when pushing you can do:

[code]

Regarding the tests:

* Which version of Node are you running?
* And have you changed anything in the code you are pushing?

Because those tests there simulate full micropub requests and ensures that it's formatted and uploaded to GitHub correctly by matching it towards a mocked GitHub API. That means that if you have changed how you are format

[2017-07-09 17:27] voxpelli commented on #20
1. Yes, you simply set the `"value"` to something falsy, like `null` or `false`
2. The condition is matched against the properties of the document, the one that is then formatted into YAML Front Matter and the document content. I've updated the README with some better description generally, but it would be good to have an example of the condition you would want to set up – that way I can help as w

[2017-07-09 17:32] voxpelli commented on #21
If you're using Node 8, then nock (the library used to mock the GitHub API) isn't currently working correctly there: https://github.com/node-nock/nock/issues/922

It's failing for 8 on Travis as well: https://travis-ci.org/voxpelli/webpage-micropub-to-github/jobs/251757274

[2017-07-15 20:07] paulrobertlloyd commented on #21
Aaah, I am running Node 8, so that’ll explain it! The only change I made was to remove the `prepush` script from `package.json`, but using `--no-verify` is a better approach. Hopefully upstream fixes to nock will arrive soon.

[2017-07-15 20:07] #21 closed

[2017-07-15 20:36] paulrobertlloyd commented on #20
1. Was a bit confused by what you meant, but ended up using `[{"value":null,"condition":"category"}]`, and that seems to work!
2. I’m still totally confused, sorry! I’m not sure what you mean by conditions? So, in the example provided, do `name` and `bookmark` relate to properties in the YAML frontmatter, as sent by the micropub client? So, if they are set, then the value of `"value"` will be retu

[2017-07-15 20:57] paulrobertlloyd opened #22 "Slug value is ignored"
Setting a value for `slug` in a Micropub client (tested with <https://quill.p3k.io> and <https://micropublish.net>), the value gets ignored, and instead a number is assigned, appearing both in a front matter `slug` property, and in the generated file path.

So, if I set the slug as `my-great-slug`, and with the following config `MICROPUB_FILENAME_STYLE="src/_posts/notes/:year-:month-:day-:slug"`:

[2017-07-15 21:05] paulrobertlloyd opened #23 "Ability to configure front matter values"
Possible alternative to #17…

I would like to override the default front matter values, but there is currently no way to override these that I can see. For example, I don’t need to set `layout: micropubpost`, as I have [front matter defaults](http://jekyllrb.com/docs/configuration/#front-matter-defaults) set to configure my layouts. Might it be possible to set front matter defaults in a config val

[2017-07-15 21:12] paulrobertlloyd opened #24 "Updating this service on Heroku"
I have no experience with Heroku, but as the simplest way of setting up this service, I clicked on the `Deploy to Heroku` button, and got going. Yet when the package was updated on GitHub, it wasn’t clear how to get the latest updates. Is there a recommended method for doing so?

So, to get the latest updates, [I cloned the repo](https://github.com/paulrobertlloyd/paulrobertlloyd-micropub), instal

[2017-07-19 14:53] sknebel opened #26 "glitch.com as a deployment option?"
I currently have no use for this, but in case you hadn't seen it: https://glitch.com is a (free) node.js hosting thing and might be an interesting platform to run this project on. They have a button similar to the "Deploy to Heroku" one: https://remix-button.glitch.me/ Might be worth a look and test?

[2017-07-19 16:10] voxpelli commented on #26
Thanks @sknebel! Wasn't aware of the button, will certainly look into it, sounds great 👍

[2017-07-20 21:13] ScalaWilliam commented on #26
Glitch is nice and easy to get started with but for production stuff you have no contract/SLA.

I had a few issues with 504/503's though:
- https://twitter.com/ScalaWilliam/status/880212927734702081
- https://twitter.com/ScalaWilliam/status/861429137025540096

Good for experimentation/remixing/blah but there are no guarantees :)

A more durable deployment (less user friendly) target could be Lambd

[2017-07-24 18:49] voxpelli commented on #26
@ScalaWilliam Thanks for the notes! Regarding Lambda, yes I agree that would be very interesting, I added #2 for that. AWS should have some similar declarative way as Heroku and Glitch, Cloudformation or something, so should be almost as easy there (not taking into consideration that the UX of AWS is slightly – um – challenging)

[2017-07-24 19:28] voxpelli commented on #24
I actually don't know how they are meant to be updated :/ Sounds like you're doing pretty much the right thing. As Heroku is a Git-repo in itself you wouldn't have had to clone it here on GitHub I think, you could probably just have pushed it directly to Heroku, but deploying it using git sounds like that unfortunately is the only way to update today :( Too bad on such a nice deploy UI.

I've aske

[2017-07-24 19:29] voxpelli commented on #23
I agree, this should be made configurable. If you're up for a PR, then it would be for https://github.com/voxpelli/node-format-microformat, otherwise I'll get to this eventually (not had the most of time for stuff like this the last weeks unfortunately)

[2017-07-24 19:30] voxpelli commented on #22
I very much agree, this should be respected

[2017-09-29 19:17] keithjgrant commented on #22
I have tested this and found that if the slug is sent as the parameter `slug` it works. This should be using the `mp-slug` parameter instead.

[2017-11-05 19:49] frankmeeuwsen opened #27 "Problem with authentication, no idea where to look for the answer"
I'm fascinated by the ideas around the IndieWeb and I wanted to see what's possible with Micropub on my own Jekyll blog on Github pages. I've implemented the script on Heroku but for some reason I can't get it to work.
I try the server tests on micropub.rocks but I get the error
[code]
I don't know what is going wroing and what to fix where. Any pointers would be helpful. Thanks!

Frank

[2017-11-07 05:57] miklb commented on #27
Taking a stab – do you have any other `rel=me` links on your site? Also, have you tried logging into http://quill.p3k.io/ or another site that does IndieAuth?

[2017-11-07 08:59] frankmeeuwsen commented on #27
Thanks for your help @miklb,

I have several rel=me links as described by the micropub specs. I have links with rel="me" to

- micro.blog
- Github
- Instagram
- Twitter

Logging into Quill and Indieauth works fine but when I post an update through Quill I get the same error message as above.

[2017-11-07 10:29] frankmeeuwsen commented on #27
I puzzled some  more and decided to make a new Heroku deployment. This time, I made a MICROPUB_GITHUB_TOKEN var with access to everything. The previous one just had a select scope (admin:repo_hook, notifications, repo, user). This time my check at Micropub.rocks works! Quill gives me new issues, it can't find any endpoints all of a sudden. Something new to look into.

But it seems your Github toke

[2017-11-07 20:43] miklb commented on #27
ah, yeah, I would assume the token would need read/write access since it is creating a new post. I haven't configured this in a long time so will need to review the process, but does sound like clarification in the readme is in order.

[2017-11-15 12:36] maggerbo commented on #27
I'm so close, but I'm experiencing this right now when trying to post from quill. I'm a little nervous about giving the token full access.

Can you be specific about how many privileges it needs?

Would this be enough?

<img width="557" alt="skaermbillede 2017-11-15 kl 13 35 27" src="https://user-images.githubusercontent.com/1537181/32836379-e30b103a-ca09-11e7-8f62-86a257b848a4.png">

Thank you ve

[2017-11-15 13:36] maggerbo opened #28 "Does the library support the Micropub Media Endpoint?"
I'm trying to use Micro.Blog to post via my endpoint hosted on Heroku. But the micro.blog app keep asking for a Media Endpoint which the Heroku endpoint doesn't provide.

Does the library support it? Or am I doing something wrong?

Thanks.

[2017-11-16 09:31] maggerbo commented on #27
I finally fixed it. It was a redirect url that wasn't correct. Nothing to do with Github privs. Thanks.

[2017-11-17 09:27] voxpelli commented on #28
This matches https://github.com/voxpelli/node-micropub-express/issues/11

[2018-01-19 00:05] paulrobertlloyd opened #29 "Configuring layout value"
Hello again Pelle. Great news! I have finally got this running on [my own site](https://paulrobertlloyd.com/journal/), meaning I can post from MicroPub clients, especially [Micro.blog](https://micro.blog). I love it! Now, to refine things a little.

Currently, posts are created with `layout: micropubpost`, but I would like to change this, ideally omit it (and use a default defined in my config), o

[2018-01-20 19:55] #29 closed

[2018-01-20 19:58] voxpelli commented on #29
@paulrobertlloyd I've added this now 😉 Appreciate that it works well for you!

[2018-01-21 18:14] paulrobertlloyd commented on #29
@voxpelli Oh wow, thanks! Just updated my repo, and works like a charm. Took a little figuring out that to disable adding a `layout` key I had to set `MICROPUB_LAYOUT_NAME` to `false`. I might add a note to the docs.

This also got me wondering about other aspects you might want to configure, and whether using environment variables is the right approach. Maybe a JSON/YAML file would be more approp

[2018-01-21 18:53] voxpelli commented on #29
@paulrobertlloyd A configuration file would most certainly be easier, but I don't want people to need to fork this repo to be able to deploy it to eg. Heroku – therefore the environment variables. Possibly could make both an option in a future.

Just a note – this endpoint do supports images, just not with the media endpoint as that standard didn't exist at the time 😉

Updated the README with your

[2018-01-21 19:50] paulrobertlloyd commented on #29
A-ha! Well, that’s promising. Looking at the PR I mentioned, looks more complicated than I realised. Would merging that PR into a fork of node-micropub-express, and updating my fork of this repo to point to that fork, be enough for the media endpoint to work? Or would I need to set up a `mediaHandler` too? Or even more than that?

[2018-01-22 18:35] voxpelli commented on #22
Some such things might be tricky as this endpoint has no data itself about the content of a site but rather relies on GitHub lookups whenever it wants something – so checking data across many files at once can be complex and slow.

That said – I’m confident the slug handling can be improved. I can’t say when though as I have had very little time for open source work outside my day job, especially

[2018-03-13 22:35] pmarsceill commented on #19
Trying to deploy this to Zeit, and am hitting a similar issue when trying to deploy with the environment vars as they are documented:

[code]

Removing these specific environment vars allows me to deploy successfully, but it isn't usable because i can't customize the filename path.

[2018-03-13 23:32] pmarsceill commented on #19
FWIW, escaping these strings with `\"_posts/microblog/:year-:month-:day-:slug\"` when defining the environment vars for these fixes my issue with Zeit.

[2018-03-15 23:44] pmarsceill opened #30 "Create separate permalink option for media files"
I host my site's source files in `src/`, so my media filename env var is:
`MICROPUB_MEDIA_FILES_STYLE=\"src/assets/microblog/:year-:month-:day-:filesslug\" `

but when the site is compiled, the media files are available via URL at this kind of format:
`https://example.com/assets/microblog/:year-:month-:day-:filesslug`

The current implementation assumes that these two are equivalent and uses the f

[2018-03-28 05:36] RosemaryOrchard commented on #27
@maggerbo could you share what redirect url wasn't working?

[2018-03-28 06:32] RosemaryOrchard commented on #17
I tried setting the `MICROPUB_FILENAME_STYLE` for the page location, and Heroku throws a wobbly whatever I do.

Could someone give me a pointer on what I'm doing wrong? I am trying to configure this to use with Grav, not Jekyll - hence the completely different file path. I have tried file paths starting with `/`, `_`, and letters.

`2018-03-28T06:29:15.963367+00:00 app[web.1]: > micropub-to-github

[2018-04-29 21:49] brandontreb commented on #28
I'd also love to hear how/if this is supported? I have hacked in

`config['media-endpoint'] = MY_ENDPOINT`

and it now passes micro.blog's basic endpoint check.  However, when trying to post, I still get 'Photo URL was blank' from the micro.blog client. It should be noted that I can use Quil successfully.

This is in the Heroku log

`2018-04-29T21:48:00.357468+00:00 app[web.1]: Error: Unexpected f

[2018-05-28 10:54] vipickering commented on #27
Hello, I'm in a similar issue but I'm getting a 400 error (and its driving me crazy!):

[code]

My Github permissions are the same as @maggerbo pic above.

Browsing to the endpoint manually also yields this error:

[code]

I am hosting my code on [Netlify](https://www.netlify.com) so I'm wondering if I got the following env_var wrong, It's the only thing I can think I might have got muddled.

`MIC

[2018-06-06 18:41] renovate[bot] opened #37 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Preset name not found within published preset config (@voxpelli)

[2018-06-06 18:42] #37 closed

[2018-08-29 14:08] keithjgrant commented on #13
+1

I would love this. I want to add edit support to Omnibear :)

[2018-09-01 09:40] jbpyn opened #63 "Authenticates but won't post"
I'm struggling here. If anyone can help. I can authenticate without any trouble, but I can't get any further with Quill or Micropub.rocks. I'm using Netlify, if that makes any difference?

This is a problem with formatting though, right?

HTTP/1.1 400 Bad Request
Server: Cowboy
Connection: keep-alive
Content-Type: text/plain; charset=utf-8
Content-Length: 11
Etag: W/"b-EFiDB1U+dmqzx9Mo2UjcZ1SJPO8"

[2018-09-02 23:18] jbpyn commented on #63
Never mind, fixed it. I'll eat the fish myself. :)

[2018-09-02 23:18] #63 closed

[2018-09-03 19:17] mledford opened #64 "Support for other git hosting"
I know this project is named as what it does on the tin. However, it would be great if other git hosting were supported. Specifically it would be great if Bitbucket were supported.

[2018-09-03 21:33] voxpelli commented on #64
That shouldn’t be too hard, considering that all GitHub-stuff is encapsulated in a single module, so if someone wants to contribute an adaptor for BitBucket then I would probably merge it.

Eventually it would be nice to support a solution using raw git directly, then all remotes would be supported.

[2018-09-07 01:31] bltavares opened #65 "Can't publish posts due to duplicate key error"
Hello,

First of all, thanks for this project. I'm trying it out using the provided Heroku button, and whenever I try to use one of the micropub clients online, I received the following message:

<details>
<summary>Logs</summary>

[code]
</details>

I didn't have much time yet to drill down what could lead to this issue, but I thought of documenting it anyway. I'll see if I can debug this latter a

[2018-09-09 08:15] jbpyn commented on #65
Check your _config.yml,  'kramdown' must be in there twice

[2018-09-13 14:20] keithjgrant commented on #30
I would love to have this, too

[2018-09-14 13:29] keithjgrant opened #69 "Errors uploading media to github"
This is strange, because media uploads have worked for me, even in the past few days. But today, I’ve had multiple errors when I try to post with a photo attached. The post content is committed to GitHub, but the media file is not.

Error log on Heroku looks as follows:
[code]

---

It might be relevant that this started happening after I tried uploading a large image and got an out of memory erro

[2018-09-14 14:54] keithjgrant commented on #69
Oh, I figured it out: I wasn’t using the `:slug` in the media filename and I was uploading the same file repeatedly for testing. This resulted in an existing file path/name, so I think it was trying to overwrite an existing file instead of creating a new one.

I added `:slug` into my `MICROPUB_MEDIA_FILES_STYLE` variable and it fixed the issue.

[2018-09-14 14:54] #69 closed

[2018-09-18 17:27] keithjgrant opened #74 "support alt text"
It looks like alt text isn't getting added to the front matter (from Quill at least)

[2018-11-04 15:07] ohhelloana opened #81 "Permalinks don't seem to be working"
Hi! I used this package today at indie web camp with https://www.ownyourgram.com. Out of the box it works fine but I wanted to be able to customise the permalink. So my posts would be like `https://www.ohhelloana.blog/my-post-name` and my instagram posts would have something like `https://www.ohhelloana.blog/photos/:slug`.

So I tried to replace `MICROPUB_PERMALINK_STYLE` while being aware about i

[2018-11-05 19:13] MattSLangford commented on #63
@jbpyn What did you do to fix? I'm having the same issues across the same services.

[2018-11-05 19:54] jbpyn commented on #63
If I remember correctly,  I was using the full github address for the repo but all it needed was the name.  e.g Instead of jbpyn/micro once I just entered micro it started working. Let me know if that doesn't work, I will post my settings for you.

[2018-11-05 19:56] MattSLangford commented on #63
Looks like I have that set right. I've used this before on older sites with no issues, but I can't figure it out today for anything. Probably something stupid I'm just overlooking. If you don't mind, I'll reference your settings. Thanks.

[2018-11-05 20:38] jbpyn commented on #63
[Screenshot of the settings ](https://f001.backblazeb2.com/file/jbpdropshare/x3Ms1d8tBYnhoERV9Jvdk5MPLHMZaz5nF8KWByfjGdsHneEJH3MijenAxonlxtvTkXY61QTVz6hSR27E0ynkVb1cnOoHtBxv5DEs.png) hope this helps

[2018-11-05 20:39] jbpyn commented on #63
I know the feeling well!

[2018-11-05 20:54] MattSLangford commented on #63
Thanks. I finally got it working. Stupid me had a duplicate line in _config. There goes 3 hours of my life.

[2018-11-09 12:07] voxpelli commented on #19
Sorry for not being responsive here – life kind of got in the way.

Are you @zacwest and @pmarsceill saying that even non-JSON configurations needs quotes and escaping? Plain strings should work with no extra effort at all – else it's a bug

[2018-11-11 17:26] renovate opened #83 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/voxpelli/webpage-micropub-to-github).

## Deprecations / Replacements

The following dependencies are either deprecated or have replacements availab

[2019-01-02 00:05] maxandersen commented on #28
I wonder what the "support media upload" from readme refers to if not media-endpoint ? and yeah, looking at the code there is no support for media uploads in posts.

[2019-01-02 01:44] maxandersen opened #88 "better docs for conditionals"
I'm trying to setup so i get different collections for each type of posting, i.e. social/, bookmarks/, etc. but no luck.

Tried using condtionals but it does not seem to have any effect - any chance of a more specific example on how this is meant to be configured ?

[2019-01-02 06:39] voxpelli commented on #28
@maxandersen Originally, at the time the first version of this project, media was uploaded as part of the post request itself, so that’s what’s still supported.

A media endpoint is the highest priority for this project, I hope I can get some time for it soon.

[2019-01-02 06:43] voxpelli commented on #88
I agree, I’ll try to look at it asap.

[2019-01-03 10:56] voxpelli opened #90 "Enable use of formatter contentSlug"
The options forwarded to the formatter should enable one to make use of the `contentSlug` option (see https://github.com/voxpelli/node-format-microformat#options):

https://github.com/voxpelli/webpage-micropub-to-github/blob/59e3b686be793b5e156bef97fa3e07bc1252f970/lib/handler.js#L68-L76

That should solve https://github.com/juandpinto/node-format-microformat/commit/bf9ad7b6e3720f6cd3b71ad17d2ae5f

[2019-01-04 08:28] maxandersen opened #92 "more useful commit message"
I find it a bit underwhelming that the commit message is just "uploading <category>" which means when looking at commit logs you can't really easily see what got uploaded.

I made a quick fix that makes it commit message like this:

```micropublished article to _posts/2019-01-04-here-we-go.md```

following the format:

```micropublished <category> to <path>```

I can submit PR with the minor chang

[2019-01-04 09:16] voxpelli commented on #92
Send a PR and I can help out in fixing the tests 🙂

fre 4 jan. 2019 kl. 09:28 skrev Max Rydahl Andersen <
notifications@github.com>:

[2019-01-13 21:57] rianvdm commented on #5
Has anyone figured out how to make this work with OwnYourGram? I'm able to get OwnYourGram to post, but it shows up without the Instagram photo.

[2019-01-17 18:08] rianvdm opened #95 "Image posting with Quill not working"
[According to Aaron](https://aaronparecki.com/2019/01/17/2/), Quill should fall back to uploading files directly to the Micropub endpoint if it doesn't find a media endpoint. I can post text updates through Quill, but when I add a photo I [get this error](https://files.elezea.com/Screen-Shot-2019-01-17-09-45-31.86.png). Am I doing something wrong?

[2019-01-17 18:11] rianvdm commented on #95
Sorry I think I figured it out.

[2019-01-17 18:11] #95 closed

[2019-01-20 09:57] voxpelli commented on #30
Related: https://github.com/voxpelli/node-format-microformat/issues/3

[2019-01-22 09:06] frankmeeuwsen commented on #64
I am currently moving my site to my own git hosting. Using raw git would be excellent for my usecase. I am a bit on the fence since I've never made anything like this but I could take a look at the possibilities...

[2019-01-22 11:47] voxpelli commented on #64
@frankmeeuwsen What it would entail is basically a module that as close as possible mimics https://github.com/voxpelli/node-github-publish, but instead uses raw git commands – not sure how complex it would be.

Depends on how intelligent it should be and what it uses to talk git. If it eg. uses a pure-js implementation like https://github.com/creationix/js-git or something or whether it uses the C

[2019-01-22 17:12] voxpelli commented on #64
Here’s another helpful link in that regard: https://git-scm.com/book/en/v2/Git-Internals-Plumbing-and-Porcelain

[2019-01-23 07:15] frankmeeuwsen commented on #64
I've been reading up on the material and trying to understand the various concepts. I think this is all a bit high over for me and too heavy lifting with my current knowledge of both git and NodeJS. Or any programming language. I'm going to look for another solution so I can move on with my site and start publishing again instead of using that time to program. Thanks again.

[2019-01-23 16:08] voxpelli commented on #64
Totally understandable, that’s the same reason I opted to use the GitHub API to begin with :)

[2019-02-05 17:41] ohhelloana commented on #81
Closing this issue because I now understand where I am "wrong" - I think! I think that if I wanted such fancy urls I should use collections instead. I could be wrong again but I am pretty sure this issue I created isn't right either :)

[2019-02-05 17:41] #81 closed

[2019-02-22 11:27] thejdev commented on #27
@RosemaryOrchard This is probably way too late, but I was receving the same error as @maggerbo until I changed the link rel="micropub" on my site to:
<link rel="micropub" href="https://_server_/micropub/main">
Where _server_ is where you are running the micropub to github code.

Hope that helps.

[2019-02-22 18:18] voxpelli opened #97 "Tracking: Collaboration with other Node.js Micropub projects"
This is a tracking issue for the work in my part of the Node.js IndieWeb ecosystem.

Related issues: https://github.com/paulrobertlloyd/indiekit/issues/1 and https://github.com/vipickering/mastr-cntrl/issues/64

Collaboration items:

* [ ] Deletion support in [node-github-publish](https://github.com/voxpelli/node-github-publish): https://github.com/voxpelli/node-github-publish/issues/34
* [ ] (...

[2019-02-22 22:08] grantcodes commented on #97
Excellent idea! I'm all for it!

I don't know if you've mentioned them already but I've talked with @EdwardHinkle and @martymcguire about a similar idea of having express middleware to do generic things.

I'm also the proud owner of the @indieweb organization on mom if we ever get to a stage where we have something were happy to publish as a group.

As for relation to my current personal projects,

[2019-02-22 23:54] grantcodes commented on #97
Forgot media endpoint

[2019-02-23 01:27] grantcodes commented on #97
## Micropub Endpoints

So I've done a quick look into the various js based micropub endpoints and here is what I have found them to support based on micropub.rocks tests. (note this absolutely may be missing projects or features of each project)

| Test Number | Test Name | grantcodes/micropub-endpoint | voxpelli/node-micropub-express | paulrobertlloyd/indiekit | muan/micropub-endpoint |
| --- | -

[2019-02-23 07:27] EdwardHinkle commented on #97
I think this is a great effort. Mine (abode) is currently using voxpelli/Node-Micropub-express as grant mentioned. I have been planning on building one from scratch so this effort would definitely help on preventing me from re-inventing the wheel. A couple important aspects in my mind:

- the output of the Middleware Library shouldn’t try to do anything fancy. It should output standard MF2 JSON an

[2019-02-28 12:15] grantcodes commented on #97
I agree with @EdwardHinkle

The endpoint should definitely just pass through mf2 json, and should at least be able to handle all of those tests from micropub.rocks I listed above.

Another couple of notes on what a shared endpoint could potentially handle:
- It should be able to handle scopes and reject if not sufficient
- Should validate mf2 and reject if invalid (just basic stuff like properties

[2019-02-28 12:31] grantcodes commented on #97
Another thing I'd like to see decided prior to starting any development would be about the actual method of using the library.

For now voxpelli/node-micropub-express uses a object to configure the endpoint:

[code]

But the other options is to use methods, more like how express actually works:

[code]

Note: just examples, not suggesting any sort of vocabulary.

Personally I think I prefer using

[2019-02-28 13:49] voxpelli commented on #97
I think I opted for using an object to configure as then it’s easier to
validate early on that all necessary config has been given, but I’m neither
very opinionated about it

tors 28 feb. 2019 kl. 13:31 skrev Grant Richmond <notifications@github.com>:

[2019-05-29 20:57] michaelspellacy commented on #74
I see this, too. Would LOVE to see an update here!

[2019-05-30 02:44] miklb commented on #74
I will be circling back to using this project again soon & this will be a priority for me so I'll make an effort to send a PR I get there.

[2019-07-20 01:18] miklb commented on #97
happy summer friends. Wondering if there's been further discussion on this and https://github.com/paulrobertlloyd/indiekit/issues/1#issue-413400782

I'm eerily close to moving back to Jekyll and assessing the landscape. I'm a big fan of everyone's work.

[2019-07-25 11:24] grantcodes commented on #97
@miklb I don't think there's been much extra discussion elsewhere yet. But I'd be keen to get started on something soon. Particularly on micropub, token and auth endpoints.

I think there are already at least a couple of express token endpoints out there that are pretty much done.

For micropub the projects mentioned above are all good, but handle things differently, but a new higher level module

[2019-07-25 13:54] grantcodes commented on #97
I went ahead and made a new repo specifically for micropub endpoint planning: https://github.com/grantcodes/future-micropub-endpoint

[2019-07-26 19:46] paulrobertlloyd commented on #97
@miklb You asked this question at just the right time; I had not been working on IndieKit since March, but started looking at it again this month, so it’s very much front of mind.

I’m excited by the moves @grantcodes has made to elicit collaboration among different project authors, and will start responding with my thoughts and contributions at the above repo.

[2019-07-26 20:00] miklb commented on #97
@paulrobertlloyd I've been lurking watching your repo so can't claim serendipity :-)

I'm excited too and am a willing guinea pig for my new site. Certainly will try to chip in where I can code wise or other types of contribution.

[2019-09-30 15:09] dixonge opened #110 "Missing authorization header or body parameter"
I tried to configure this the best I could, but I'm getting nothing. When I run the app on Heroku it just comes up as ```cannot GET /``` and when I try to access the endpoint I get ```{"error":"invalid_request","error_description":"Missing \"Authorization\" header or body parameter."}```

This is my first Heroku app, so I'm also rather confused by their interface. I successfully adjusted my github

[2019-10-22 22:04] michaelspellacy commented on #74
Any update on this? Think it would be great to see soon. Thanks!

[2019-10-24 00:00] miklb commented on #74
I haven't circled back yet. I have been refreshing myself on micropub API and will make a to-do to look.

[2020-03-04 01:31] michaelspellacy commented on #74
Any updates?

[2020-04-18 19:46] dixonge commented on #110
Owner says they are busy - either way, this issue should have been closed a long time ago

[2020-04-18 19:46] #110 closed

[2020-05-20 00:56] daraul commented on #64
Couldn't generic git functionality be added with `node-git`?

https://github.com/nodegit/nodegit

[2020-06-09 10:21] voxpelli opened #117 "Ensure compatibility with IA Writer"

[2020-06-09 10:22] voxpelli opened #118 "Ensure + create example for Eleventy target site"

[2020-07-13 14:34] voxpelli commented on #26
In regards to Cloudformation on AWS: https://aws.amazon.com/blogs/devops/construct-your-own-launch-stack-url/

[2020-07-29 19:29] voxpelli opened #120 "Explore move to Fastify"
See https://github.com/fastify/fastify and https://github.com/voxpelli/node-micropub-express/issues/80

[2020-08-06 18:09] voxpelli opened #121 "Test with ThreadReader"
See: https://boffosocko.com/2020/05/28/threadreaderapp-micropub-to-blog/

[2020-09-04 22:36] martineizayaga commented on #110
I'm getting the same error :(

[2020-09-18 21:47] gdecaso commented on #121
Did you have any luck testing it with ThreadReader? I'm succeeding at registering my blog (running `webpage-micropub-to-github` in Heroku) but I'm getting a `Error: Error: Request failed with status code 500` message from ThreadReaderApp when I hit their "Publish X tweets to blog" button.

On the Heroku logs all I get is:
[code]

So it seems like the 500 error is on the ThreadReaderApp side, as th

[2020-09-19 13:45] gdecaso commented on #121
So, answering my own question... I kept digging and it seems that the problem is on ThreadReaderApp's side, as they are cropping the token from `indieauth.com` to 255 bytes, and the token is sometimes larger than 600 bytes.

I contacted ThreadReaderApp and they are going to fix this on their side. Will report back

[2021-03-13 16:22] michaelspellacy commented on #74
Any update here? It's been a year.

[2021-03-14 11:07] voxpelli commented on #74
And what a year it's been 😨

I'm working on getting my blog up to speed so that I can get up to speed with this again, but I can't give a timeline unfortunately.

[2021-09-15 21:27] #30 closed

[2021-10-29 05:43] kandr3s opened #141 "Override category value"
I'm trying to use `MICROPUB_OPTION_DERIVE_CATEGORY` to override the `social` and `article` values written by default (using Quill). My goal is to have these values replaced for `status` when there's no title and `post` for articles.

I've used the following values for the env variable:

[code]

and also

[code]

But it doesn't work. Is there something I am missing in the documentation? Is there an

[2022-02-06 20:50] fundor333 opened #142 "Tags as YAML list"
I need to have the tags as a YAML list so looking like

[code]

But I can't understand how to do it.
Thanks for the help